<div class="users">
  <table class="users-table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Last name</td>
        <td>User name</td>
        <td>Role</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async" class="user">
        <td class="user-id">{{ user.id }}</td>
        <td class="user-name">{{ user.name }}</td>
        <td class="user-lastname">{{ user.lastName }}</td>
        <td class="user-username">{{ user.userName }}</td>
        <td class="user-role">{{ user.roles }}</td>
        <td class="user-role">Actions</td>
      </tr>
    </tbody>
  </table>
</div>
