@import "styles/color-palette";
@import "styles/fonts";
@import "styles/reset";

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $color-primary-1;
  font-family: Roboto-Regular, sans-serif;
  height: 100%;
  min-height: 100vh;
}
