/* SCSS RGB */
$color-primary-1: rgba(66, 0, 57, 1);
$color-primary-2: rgba(147, 47, 109, 1);
$color-primary-3: rgba(224, 123, 224, 1);
$color-primary-4: rgba(220, 204, 255, 1);
$color-primary-5: rgba(246, 242, 255, 1);
$color-primary-6: rgba(255, 0, 0, .4);
