<div class="dashboard">
  <div class="dashboard-menu">
    <div class="dashboard-menu-group">
      <div class="dashboard-menu-item">
        <a routerLink="/">
          <img src="assets/icons/sys-arch.svg" alt="sys arc">
        </a>
      </div>
      <div class="dashboard-menu-item">
        <a routerLink="/dashboard/users" routerLinkActive="active">
          <i class="fa fa-user"></i>&nbsp;Users
        </a>
      </div>
    </div>
    <div class="dashboard-menu-group">
      <div class="dashboard-menu-item" (click)="logout()"><i class="fa fa-power-off"></i>&nbsp;Logout</div>
    </div>
  </div>
  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>
</div>
