<div class="login d-flex flex-row jc-center ai-center">
  <div class="d-flex-inline p-card jc-center ai-center login-box">
    <div class="d-flex fluid formgrid grid">
      <div class="field col-12">
        <label for="userName">User Name</label>
        <input id="userName" type="text" [(ngModel)]="userName">
        <span *ngIf="error?.invalidField === 'userName'" class="error user-name-error">{{ error.message }}</span>
      </div>
      <div class="field col-12">
        <label for="password">Password</label>
        <input id="password" type="password" [(ngModel)]="password">
        <span *ngIf="error?.invalidField === 'password'" class="error password-error">{{ error.message }}</span>
      </div>
      <div class="col-12">
        <button type="button" class="submit-btn" (click)="login()" [disabled]="!userName || !password">Login</button>
      </div>
    </div>
  </div>
</div>
