<div class="login">
  <form #loginForm="ngForm" class="login-form" (ngSubmit)="login()">
    <div class="login-form-img-wrapper">
      <img src="assets/icons/sys-arch.svg" alt="system architecture">
    </div>

    <div class="login-form-row">
      <label for="userName">Username</label>
      <input id="userName"
             type="text"
             name="userName"
             autocomplete="off"
             [(ngModel)]="userName"
             (ngModelChange)="clearError()"
             [class.error]="error?.invalidField === 'userName'">
    </div>
    <div *ngIf="error?.invalidField === 'userName'" class="login-form-error">{{ error.message }}</div>
    <div class="login-form-row">
      <label for="password">Password</label>
      <input id="password"
             type="password"
             name="password"
             autocomplete="off"
             [(ngModel)]="password"
             (ngModelChange)="clearError()"
             [class.error]="error?.invalidField === 'password'">
    </div>
    <div *ngIf="error?.invalidField === 'password'" class="login-form-error">{{ error.message }}</div>
    <div class="login-form-row">
      <button type="submit" class="login-form-submit-button" [disabled]="!userName || !password">Login</button>
    </div>
    <div class="login-form-row">
      <a class="login-form-registration-link" routerLink="/register">Not a member? Register</a>
    </div>
  </form>
</div>
