<div class="login p-d-flex p-flex-row p-jc-center p-ai-center">
  <div class="p-d-flex-inline p-card p-jc-center p-ai-center login-box">
    <div class="p-d-flex p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="userName">User Name</label>
        <input id="userName" type="text" pInputText [(ngModel)]="userName">
        <span *ngIf="error?.invalidField === 'userName'" class="p-error user-name-error">{{ error.message }}</span>
      </div>
      <div class="p-field p-col-12">
        <label for="password">Password</label>
        <input id="password" type="password" pInputText [(ngModel)]="password">
        <span *ngIf="error?.invalidField === 'password'" class="p-error password-error">{{ error.message }}</span>
      </div>
      <div class="p-col-12">
        <button pButton pRipple type="button" label="Login" class="submit-btn" (click)="login()" [disabled]="!userName || !password"></button>
      </div>
    </div>
  </div>
</div>
